/* Rebuy Smart Cart */

#rebuy-cart-close:focus-visible {
  outline: 3px solid #e10600 !important; /* accessible red */
  outline-offset: 3px;
}

.rebuy-cart__progress-bar-meter-fill::focus-visible{
  outline:none !important;
}